<div class="imgfundo">
  <img
    class="img"
    src="https://raw.githubusercontent.com/Navegg/navegg-frontend-challenge/master/tree-list.png"
  />
</div>
<div class="makepormim">
  <div class="grid'">
  </div>
    <div class="grid">
    <div class="title-area">
      <h1 class="title">Front-End Test</h1>

      <p class="title-msg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend
        dapibus enim vel egestas.
      </p>

      <button>Create New Item</button>
    </div>

    <div class="body">
      <h1 class="title">Workou</h1>

      <p class="title-msg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend
        dapibus enim vel egestas.
      </p>

      <button>Create New Item</button>
    </div>
  </div>
</div>
