<div class="grid">
  <div class="title-area">
    <h1>Front-End Test</h1>

    <p class="title-msg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend
      dapibus enim vel egestas.
    </p>

    <button class="button" (click)="editItem()">Create New Item</button>
  </div>

  <div class="body">
    <div class="card">
      <!-- <table style="width: 100%;">
        <tr class="tr-title">
          <th>Item Name</th>
          <th>Users</th>
          <th>Percent</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>
            <ul id="myUL">
              <li>
                <span class="caret">Beverages</span>
                <ul class="nested">
                  <li>Water</li>
                  <li>Coffee</li>
                  <li>
                    <span class="caret">Tea</span>
                    <ul class="nested">
                      <li>Black Tea</li>
                      <li>White Tea</li>
                      <li>
                        <span class="caret">Green Tea</span>
                        <ul class="nested">
                          <li>Sencha</li>
                          <li>Gyokuro</li>
                          <li>Matcha</li>
                          <li>Pi Lo Chun</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </td>
          <td>Smith</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>
      </table> -->
    </div>
  </div>
</div>
